@import "../../shared/scss/variables";

h1 {
  margin-top: 40px;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0px;
  color: $dark-smoke;
}

.search {
  margin-top: 1rem;
  label {
    font-size: 1rem;
    color: $dark-smoke;
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
  }

  .input-container {
    display: flex;
    position: relative;
    align-items: center;

    input {
      width: 262px;
      height: 32px;
      border: none;
      outline: none;
      border-radius: 0.25rem;
      padding: 0.5rem 1rem;
      font-family: "PT Sans Caption", sans-serif;

      &::placeholder {
        font-style: italic;
        font-family: "PT Sans Caption", sans-serif;
        color: $smoke;
      }
      &:focus {
        border: 0;
        outline: none;
      }
    }

    button {
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $white;
      border: 0;
      position: relative;
      left: -4px;
      border-radius: 0.25rem;
      padding: 4px 16px;
      cursor: pointer;

      img {
        margin: 3px;
      }
    }
  }
}

.character-list-container {
  margin-top: 40px;

  header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 8px;
    padding: 0px 24px;
    span {
      display: block;
      text-align: left;
      font-size: 0.75rem;
      color: $smoke;
    }
  }

  .character-list {
    display: grid;
    gap: 8px;

    .character-card {
      background-color: $white;
      box-shadow: 0px 0px 5px #00000033;
      border-radius: 4px;
      padding: 20px 24px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      cursor: pointer;

      &:hover {
        box-shadow: 0px 0px 5px #222;
      }

      .character {
        display: flex;
        align-items: center;

        .thumb {
          margin-right: 24px;
          width: 48px;
          height: 48px;
          background-size: cover;
          border-radius: 4px;
        }

        span {
          font-size: 1rem;
          font-weight: bold;
          color: $dark-smoke;
        }
      }

      .series,
      .events {
        font-size: 0.875rem;
        color: $dark-smoke;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
          max-width: 80%;
          line-height: 19px;
        }
      }
    }
  }
}

.paginate-container {
  background-color: $white;
  padding: 40px;
  margin-top: 24px;

  .buttons-container {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 16px;
  }

  .paginate-buttons,
  .next-buttons,
  .prev-buttons {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 16px;
    button {
      border: none;
      outline: none;
      width: 40px;
      height: 32px;
      background-color: $snow;
      border: 2px solid $dark-snow;
      opacity: 1;
      text-align: center;
      font-size: 14px;
      color: $dark-smoke;
      border-radius: 4px;
      cursor: pointer;

      &.active {
        background-color: $dark-blue;
        border: 1px solid $dark-blue;
        color: $white;
      }

      &:hover {
        background-color: rgba($dark-blue, 0.7);
        border: 1px solid rgba($dark-blue, 0.7);
        color: $white;
      }
    }
  }

  .next-buttons,
  .prev-buttons {
    gap: 0px;
    button {
      width: 28px;
      height: 32px;
      background-color: transparent;
      border: 0;
    }
  }
}
