<app-container>
  <header>
    <h1>Busca de personagens</h1>
    <div class="search">
      <label for="txt_character">Nome do personagem</label>
      <div class="input-container">
        <input type="text" id="txt_character" placeholder="Search" (keyup)="onKeyUp($event)">
        <button (click)="searchCharacters()"><img src="/assets/images/icons/search.svg" alt="Buscar" ></button>
      </div>
    </div>
  </header>

  <section class="character-list-container">
    <header>
      <span>Personagem</span>
      <span class="sm-hide">Séries</span>
      <span class="sm-hide">Eventos</span>
    </header>

    <div class="character-list">

      <div class="character-card" *ngFor="let character of characters">
        <div class="character">
          <!-- <div class="thumb" ="``"></div> -->
          <div class="thumb" [style.background-image]="'url(' + character.thumbnail.path + '/portrait_small.' + character.thumbnail.extension"></div>
          <span>{{character.name}}</span>
        </div>
        <div class="series sm-hide">
          <p *ngFor="let item of character.series.items.slice(0, 3)">{{item.name}}</p>           
        </div>
        <div class="events sm-hide">
          <p *ngFor="let event of character.events.items.slice(0, 3)">{{event.name}}</p>           
        </div>
      </div>

    </div>   

  </section>

</app-container>
<div class="paginate-container">
<app-container>
  <div class="buttons-container" *ngIf="qtdPages">
    <div class="prev-buttons">
      <button (click)="changePage(1)"><<</button>
      <button (click)="changePage(currentPage -1)"><</button>
    </div>
    <div class="paginate-buttons">
      <button  *ngFor="let page of pages" (click)="changePage(page)" [ngClass]="{'active': currentPage === page}"
      >{{page}}</button>
    </div>
    <div class="next-buttons">
      <button (click)="changePage(currentPage + 1)">></button>
      <button (click)="changePage(qtdPages)">>></button>
    </div>
  </div>
</app-container>
</div>
