<header>
  <a [routerLink]="['']">← BACK</a>
  <h1>MARVEL-HEROES</h1>
  <p>DETAILS</p>
</header>
<app-container>
  <section *ngIf="character" class="card-top">
    <div class="photo">
      <img [src]="character.thumbnail.path + '/detail.' + character.thumbnail.extension" [alt]="character.name">
    </div>
    <div class="description">
      <h2>{{character.name}}</h2>
      <p>{{character.description}}</p>
      <p>
        Available in:</p>
        <ul>
          <li>- {{character.events.available}} Events</li>
          <li>- {{character.series.available}} Series</li>
          <li>- {{character.stories.available}} Stories</li>
          <li>- {{character.comics.available}} Comics</li>
        </ul>
      
      <span class="copy">©2021 MARVEL</span>
    </div>
  </section>

  <section class="comics-container">
    <h2>Comics</h2>
    <div class="comics" *ngIf="comics">
      <div class="comic" *ngFor="let comic of comics" title="{{comic.title}}">
        <h3>{{comic.title.substring(0,20)}}</h3>
        <img [src]="comic.thumbnail.path + '/detail.' + comic.thumbnail.extension" [alt]="comic.title">
      </div>
    </div>
  </section>
</app-container>
